@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;



.poplight {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.popreg {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.popmed {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.popbold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}


.ant-layout-sider {
    background: white;
}